.descricao{
	display: flex;
	justify-content: flex-start;
	
	
.imagem-espetaculo{
	width: 330px;
  	height: auto;
}
	
h2{
	font-size: 15px;
	font-family:"Roboto"; 
	color: black;
	
}
.produto{
	font-size:1.5em;
	white-space: nowrap;
	margin-left: 20px;
}
.texto{
	flex: 1;
	margin-right: 70px;
	margin-left: 20px;
	font-size:1em;
}
h4{
	font-size: 5px;
	font-family:"Roboto"; 
	color: black;
	
}
}

.Recomendados {
h3 {
  background-color: #000000;
  color: #FFFFFF;
  font:"Roboto";
  font-size: 30px;
}
}

h1 {
  background-color: #000000;
  color: #FFFFFF;
  font:"Roboto";
  font-size: 30px;
}

h3 {
	margin: 0;
	font-size: 100px;
	font-family:"Roboto"; 
	color: Grey;
	text-shadow: 1px 1px 1px black;
	text-align:left;
}
 html {
  background-color: #E7E7E7;
}
}
img1 {
	border-radius: 10px;
}
	
h3{
	font-size: 20px;
	font-family:"Roboto"; 
	color: black;
	//text-decoration: underline;
}
h7{
	font-size: 20px;
	font-family:"Roboto"; 
	color: black;
	text-align:left;
}
