.descricao{
	display: flex;
	justify-content: flex-start;
}

.Recomendados {
h3 {
  background-color: #000000;
  color: #FFFFFF;
  font:"Roboto";
  font-size: 30px;
}
}

h1 {
  background-color: #000000;
  color: #FFFFFF;
  font:"Roboto";
  font-size: 30px;
}

h3 {
	margin: 0;
	font-size: 100px;
	font-family:"Roboto"; 
	color: Grey;
	text-shadow: 1px 1px 1px black;
	text-align:left;
}
 html {
  background-color: #E7E7E7;
}
}
img1 {
	border-radius: 10px;
}
h2{
	font-size: 35px;
	font-family:"Roboto"; 
	color: black;
	
}	
h3{
	font-size: 20px;
	font-family:"Roboto"; 
	color: black;
	//text-decoration: underline;
}
h7{
	font-size: 20px;
	font-family:"Roboto"; 
	color: black;
	text-align:left;
}
