header{
	text-decoration-line:underline;
	text-decoration-style:solid;
}

 html {
  background-color: #E7E7E7;
}

.Categoria1 {

h1{
  background-color: #000000;
  color: #FFFFFF;
  font:"Roboto";
  font-size: 30px;
}

}

.Categoria2 {

h1{
  background-color: #000000;
  color: #FFFFFF;
  font:"Roboto";
  font-size: 30px;
}

}

.Categoria3 {

h1{
  background-color: #000000;
  color: #FFFFFF;
  font:"Roboto";
  font-size: 30px;
}

}

.Categoria4 {

h1{
  background-color: #000000;
  color: #FFFFFF;
  font:"Roboto";
  font-size: 30px;
}

}

.Categoria5 {

h1{
  background-color: #000000;
  color: #FFFFFF;
  font:"Roboto";
  font-size: 30px;
}

}

.Categoria6 {

h1{
  background-color: #000000;
  color: #FFFFFF;
  font:"Roboto";
  font-size: 30px;
}

}
